/.phpunit.cache
/node_modules
/storage/*.key
/vendor
.env
.env.backup
.env.production
.env.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
PBL IF 23-2-9.zip
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
